body {
    font-family: 'Palatino', 'Calibri', sans-serif;
    margin: 0 auto;
    background-color: #b8b8b8;
    color: #dedede;
    position: relative;
}
/* Hero section */
.hero {    
    position: relative;
    height: 300px;
    width: 100%;
}

.hero img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 20px #201b23, 0 0 20px #201b23, 0 0 20px #201b23 ;
}

nav li {   
    display: inline-block;
    margin: 0;
    padding: 0;
    text-shadow: none;
}

nav li::after{
    content: " |";
}

nav li:last-child::after {
    content: none;
}
/* end Hero section */

/* page content section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Container for About me, My Word, and Contact me sections */
.details-container {
    background-color: #c1b7c6;
    display: flex;
    flex-direction: row;
    border-left: 1px solid #91829a;
    border-right: 1px solid #91829a;
    height: auto;
    width: auto;
    padding: 0 75px;
}

/* left sidebar */
.title { padding-right: 8px;
    display: flex;
    justify-content: flex-end;
    min-width: 225px;
    background-color: #91829a;
    margin-right: 40px;
}

/* About me and contact me sections */ 
.details {
    color: #37303b;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    justify-content: space-around;
    margin: 40px 0;
}

.details img {
    max-width: 200px;
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 16px;
}

.button {
    background-color: #786484;
    border-radius: 15px;
    padding: 6px 20px;
}
/* End about me and contact me sections */

/* My work section */
.work-details {
    color: #37303b; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; 
}
.main-project {
    width: 80%;
    margin-top: 20px;    
}

.main-project img {
    width: 100%;
    border: 2px solid #786484;
}

.secondary-project {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    width: 80%;
}

.secondary-project img {
    width: 100%;
    border: 2px solid #786484;
}

.project-info {
    position: absolute;
    margin: 4px;
    background-color:   #c1b7c692;
    padding: 8px;
    text-align: center;
    border: 2px solid #786484;    
}

.project-info p {
    font-size: 14px;
}
/* end My work section */


/* Media breakpoints */
@media screen and (max-width: 992px) {
    .secondary-project {
      flex-wrap: wrap;
    }

    .details {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .details-container {
        flex-wrap: wrap;
        padding: 0;
    }
    .details {
        padding: 0 50px;
        margin: 20px 0;
    }

    .title {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
}
/* end media breakpoints */
/* end page content section*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #786484;
}

/* Reset/custom styles */
 p, h3, ul {
    margin: 0;
    padding: 0;
 }

 h1 {
    font-size: 42px;
 }

 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}